@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body.dark {
  --bgc: #1d1e22;
  --bgc__ligher: #2e2f35;
  --text: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc);
  color: var(--text);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--bgc__ligher);
  padding: .8rem 2rem;
  border-radius: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #66BB6A;
  font-weight: 700;
}

.status__icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #43A047;
  background-color: #66BB6A;
  margin-right: .5rem;
  position: relative;
}

.status__icon::after {
  content: "";
  position: absolute;
  transform: scale(2);
  transform-origin: center;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: #66BB6A;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
    ;
  }

  to {
    opacity: 0;
    transform: scale(2.25);
    ;
  }
}